@import url(//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  width: 700px;
  margin: 0 auto;
  padding-top: 120px;
}

div.top {
  background-color: white;
  position: fixed;
  padding: 0 calc(50% - 350px);
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}

div.top img {
  height: 45px;
  margin: 5px 20px 5px 0;
  display: block;
  float: left;
}

img.screenshot {
  max-width: 100%;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 170%;
  font-weight: 300;
  color: #555;
}

h1 {
  font-size: 160%;
  font-weight: inherit;
  color: #333;
}

h2 {
  font-size: 100%;
  font-weight: 500;
  color: #333;
}

a {
  color: #666;
}

code {
  font-size: 85%;
  border: 1px solid #eee;
  background-color: #fafafa;
  border-radius: 2px;
  padding: 1px 5px;
}

strong {
  font-weight: 500;
  color: #333;
}
